@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Poppins:100i,200,300,400,500,600,700,800,900&display=swap");

body {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal
}

h1, h2, h3, h3, h4 {
    font-family: "Playfair Display", serif;
    color: #362d2b;
    margin-top: 0px;
    font-style: normal;
    font-weight: 500;
    text-transform: normal
}

p {
    font-family: "Poppins", sans-serif;
    color: #978e98;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal
}

.f-right {
    float: right
}

.fix {
    overflow: hidden
}

a {
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

a:focus {
    text-decoration: none;
    outline: none
}

a {
    color: #635c5c
}

a:hover {
    color: #fff
}

a:focus, a:hover, .footer -menu li a:hover {
    text-decoration: none
}

a, button {
    color: #fff;
    outline: medium none
}

button:focus, input:focus, input:focus, textarea, textarea:focus {
    outline: 0
}

input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

ul {
    margin: 0px;
    padding: 0px
}

li {
    list-style: none
}

.btn2 {
    background: #800098;
    -moz-user-select: none;
    text-transform: capitalize;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    padding: 30px 44px;
    border-radius: 5px;
    min-width: 150px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0
}

.btn2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #620672;
    z-index: 1;
    border-radius: 5px;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0)
}

.btn2:hover::before {
    transform: scaleX(1);
    color: #fff !important;
    z-index: -1
}

.mb-30 {
    margin-bottom: 30px
}

.mb-60 {
    margin-bottom: 60px
}

.mb-100 {
    margin-bottom: 100px
}

@keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

.services-img::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    height: 150px;
    width: 150px;
    background: #520c0c;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: pulse-border 3000ms ease-out infinite
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0
    }
}

@-webkit-keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0
    }
}

.section-padding2 {
    padding-top: 200px;
    padding-bottom: 200px
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .section-padding2 {
        padding-top: 200px;
        padding-bottom: 200px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-padding2 {
        padding-top: 200px;
        padding-bottom: 200px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-padding2 {
        padding-top: 100px;
        padding-bottom: 100px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-padding2 {
        padding-top: 70px;
        padding-bottom: 70px
    }
}

@media (max-width: 767px) {
    .section-padding2 {
        padding-top: 70px;
        padding-bottom: 70px
    }
}

.story-padding {
    padding-top: 200px;
    padding-bottom: 100px
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .story-padding {
        padding-top: 200px;
        padding-bottom: 100px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .story-padding {
        padding-top: 200px;
        padding-bottom: 100px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .story-padding {
        padding-top: 100px;
        padding-bottom: 80px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .story-padding {
        padding-top: 100px;
        padding-bottom: 80px
    }
}

@media (max-width: 767px) {
    .story-padding {
        padding-top: 50px;
        padding-bottom: 30px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-header {
        padding: 15px 0
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .main-header {
        padding: 15px 0
    }
}

@media (max-width: 767px) {
    .main-header {
        padding: 15px 0
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .main-header .main-menu {
        margin-right: 30px
    }
}

.main-header .main-menu ul li {
    display: inline-block;
    position: relative;
    z-index: 1
}

.main-header .main-menu ul li a {
    color: #002e5b;
    font-weight: 400;
    padding: 39px 19px;
    font-weight: 400;
    display: block;
    font-size: 16px;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    text-transform: capitalize
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-header .main-menu ul li a {
        padding: 39px 15px
    }
}

.main-header .main-menu ul li:hover > a {
    color: #800098
}

.header-sticky ul li a {
    padding: 10px 19px
}

.mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 99
}

.slider-height {
    max-height: 940px;
    height: 940px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .slider-height {
        height: 800px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slider-height {
        height: 750px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-height {
        height: 560px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-height {
        height: 400px
    }
}

@media (max-width: 767px) {
    .slider-height {
        height: 400px
    }
}

.slider-area .hero__caption {
    position: relative
}

.slider-area .hero__caption::before {
    position: absolute;
    content: "";
    background-image: url(../img/hero/hero_circle.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 540px;
    height: 540px;
    z-index: -1;
    -webkit-animation-name: rotateme;
    animation-name: rotateme;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slider-area .hero__caption::before {
        width: 450px;
        height: 450px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-area .hero__caption::before {
        width: 350px;
        height: 350px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area .hero__caption::before {
        width: 250px;
        height: 250px
    }
}

@media (max-width: 767px) {
    .slider-area .hero__caption::before {
        width: 220px;
        height: 220px
    }
}

@keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

.slider-area .hero__caption.caption-bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 540px;
    width: 540px
}

.slider-area .hero__caption .circle-caption {
    margin: auto
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slider-area .hero__caption .circle-caption {
        margin: 0;
        padding-left: 58px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-area .hero__caption .circle-caption {
        margin: 0;
        padding-left: 65px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area .hero__caption .circle-caption {
        margin: 0;
        padding-left: 35px
    }
}

@media (max-width: 767px) {
    .slider-area .hero__caption .circle-caption {
        margin: 0;
        padding-left: 22px
    }
}

.slider-area .hero__caption .circle-caption span {
    color: #fff;
    text-transform: uppercase;
    font-size: 23px;
    font-family: "Poppins", sans-serif;
    position: relative;
    margin-bottom: 20px;
    display: inline-block
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area .hero__caption .circle-caption span {
        font-size: 18px;
        margin-bottom: 7px
    }
}

@media (max-width: 767px) {
    .slider-area .hero__caption .circle-caption span {
        font-size: 18px;
        margin-bottom: 7px
    }
}

.slider-area .hero__caption .circle-caption span::before {
    position: absolute;
    content: "";
    top: 50%;
    left: -76px;
    width: 57px;
    height: 2px;
    background: #fff;
    display: inline-block
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area .hero__caption .circle-caption span::before {
        display: none
    }
}

@media (max-width: 767px) {
    .slider-area .hero__caption .circle-caption span::before {
        display: none
    }
}

.slider-area .hero__caption .circle-caption span::after {
    position: absolute;
    content: "";
    top: 50%;
    right: -76px;
    width: 57px;
    height: 2px;
    background: #fff;
    display: inline-block
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area .hero__caption .circle-caption span::after {
        display: none
    }
}

@media (max-width: 767px) {
    .slider-area .hero__caption .circle-caption span::after {
        display: none
    }
}

.slider-area .hero__caption .circle-caption h1 {
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 14px;
    color: #fff;
    font-family: "Playfair Display", serif;
    line-height: 1.2;
    text-transform: capitalize;
    margin-bottom: 30px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slider-area .hero__caption .circle-caption h1 {
        font-size: 50px;
        line-height: 1.2
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-area .hero__caption .circle-caption h1 {
        font-size: 34px;
        line-height: 1.2;
        margin-bottom: 10px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area .hero__caption .circle-caption h1 {
        font-size: 30px;
        line-height: 1.4;
        margin-bottom: 8px
    }
}

@media (max-width: 767px) {
    .slider-area .hero__caption .circle-caption h1 {
        font-size: 27px;
        line-height: 1.4;
        margin-bottom: 8px
    }
}

.slider-area .hero__caption .circle-caption p {
    color: #fff;
    text-transform: uppercase;
    font-size: 23px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-area .hero__caption .circle-caption p {
        font-size: 15px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area .hero__caption .circle-caption p {
        font-size: 15px
    }
}

@media (max-width: 767px) {
    .slider-area .hero__caption .circle-caption p {
        font-size: 13px
    }
}

.hero-overly {
    position: relative;
    z-index: 0
}

.hero-overly::before {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-repeat: no-repeat
}

.Our-story-area {
    position: relative
}

.Our-story-area .story-img {
    position: relative;
    margin-left: 40px
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .Our-story-area .story-img {
        margin-left: 0px;
        margin-bottom: 50px
    }
}

@media (max-width: 767px) {
    .Our-story-area .story-img {
        margin-left: 0px;
        margin-bottom: 50px
    }
}

.Our-story-area .story-img .story-imges {
    width: 100%
}

@media (max-width: 767px) {
    .Our-story-area .story-img .shape-flower-img {
        display: none
    }
}

.Our-story-area .story-img .shape-flower-img .flower-top {
    position: absolute;
    bottom: -79px;
    left: -71px
}

.Our-story-area .story-caption {
    padding-left: 48px;
    padding-right: 45px;
    padding-top: 48px
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .Our-story-area .story-caption {
        padding-left: 20px;
        padding-right: 0;
        padding-top: 48px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .Our-story-area .story-caption {
        padding-left: 20px;
        padding-right: 0;
        padding-top: 20px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .Our-story-area .story-caption {
        padding-left: 0px;
        padding-right: 0;
        padding-top: 0px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .Our-story-area .story-caption {
        padding-left: 0px;
        padding-right: 0;
        padding-top: 0px;
        padding-top: 0px
    }
}

@media (max-width: 767px) {
    .Our-story-area .story-caption {
        padding-left: 0px;
        padding-right: 0;
        padding-top: 0px
    }
}

.Our-story-area .story-caption img {
    margin-bottom: 10px
}

.Our-story-area .story-caption h3 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 14px;
    color: #362d2b;
    font-family: "Playfair Display", serif;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 44px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .Our-story-area .story-caption h3 {
        margin-bottom: 10px
    }
}

.Our-story-area .story-caption .story1 {
    margin-bottom: 35px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .Our-story-area .story-caption .story1 {
        margin-bottom: 10px
    }
}

.Our-story-area .shape-flower .flower1 {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%)
}

.Our-story-area .shape-flower .flower2 {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%)
}

.service-area {
    background: #fefcfa;
    padding-top: 170px;
    padding-bottom: 110px
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .service-area {
        padding-top: 170px;
        padding-bottom: 110px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .service-area {
        padding-top: 140px;
        padding-bottom: 85px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .service-area {
        padding-top: 140px;
        padding-bottom: 85px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .service-area {
        padding-top: 70px;
        padding-bottom: 0px
    }
}

@media (max-width: 767px) {
    .service-area {
        padding-top: 70px;
        padding-bottom: 0px
    }
}

.service-area .col-lg-4:nth-child(3) .singl-services::before {
    display: none
}

.service-area .singl-services {
    position: relative
}

.service-area .singl-services::before {
    position: absolute;
    content: "";
    top: 50%;
    right: -17px;
    width: 2px;
    height: 75px;
    background: #e09513;
    transform: translateY(-50%)
}

@media (max-width: 767px) {
    .service-area .singl-services::before {
        display: none
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .service-area .singl-services::before {
        display: none
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .service-area .singl-services::before {
        display: none
    }
}

.service-area .singl-services .top-caption h4 {
    color: #362d2b;
    font-size: 35px;
    font-weight: 400;
    line-height: 1.2
}

.service-area .singl-services .top-caption p {
    font-family: "Playfair Display", serif;
    color: #362d2b;
    font-size: 20px;
    margin-bottom: 54px
}

.service-area .singl-services .services-img {
    position: relative;
    z-index: 0
}

.service-area .singl-services .services-img img {
    position: relative;
    margin-bottom: 43px;
    border: 10px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%
}

.service-area .singl-services .services-img .back-flower {
    position: absolute;
    right: 45px;
    bottom: 0;
    z-index: -1;
    top: 3px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .service-area .singl-services .services-img .back-flower {
        right: 180px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .service-area .singl-services .services-img .back-flower {
        right: 50px
    }
}

@media (max-width: 767px) {
    .service-area .singl-services .services-img .back-flower {
        right: 0px
    }
}

.service-area .singl-services .services-img .back-flower img {
    margin-bottom: 0px;
    border: 0;
    border-radius: 0
}

.service-area .singl-services .bottom-caption span {
    color: #daad9e;
    letter-spacing: 10px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    display: block
}

.service-area .singl-services .bottom-caption p {
    color: #090908
}

.section-tittle h2 {
    color: #362d2b;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 66px;
    line-height: 1.3;
    text-transform: uppercase
}

@media (max-width: 767px) {
    .section-tittle h2 {
        font-size: 39px;
        line-height: 1.3
    }
}

.section-tittle.tittle-form img {
    -webkit-transition: all .6s ease-out 0s;
    -moz-transition: all .6s ease-out 0s;
    -ms-transition: all .6s ease-out 0s;
    -o-transition: all .6s ease-out 0s;
    transition: all .6s ease-out 0s;
    position: relative;
    top: -35px
}

.section-tittle.tittle-form h2 {
    font-size: 40px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-tittle.tittle-form h2 {
        font-size: 34px;
        line-height: 1.3
    }
}

@media (max-width: 767px) {
    .section-tittle.tittle-form h2 {
        font-size: 34px;
        line-height: 1.3
    }
}

.our-memories-area {
    position: relative
}

.our-memories-area .memory {
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s
}

.our-memories-area .memory .memories-img {
    position: relative
}

.our-memories-area .memory .memories-img::before {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    background-repeat: no-repeat;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s
}

.our-memories-area .memory .memories-img img {
    width: 100%
}

.our-memories-area .memory .memories-img .menorie-icon {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 800
}

.our-memories-area .memory .memories-img .menorie-icon i {
    color: #fff;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 35px;
    border: 2px solid #fff;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    z-index: 2;
    display: inline-block;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    transform: scale(0)
}

.our-memories-area .memories-shape .memories-shape1 {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0
}

.our-memories-area .memories-shape .memories-shape2 {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0
}

.memory:hover {
    padding: 10px
}

.memory:hover .memories-img::before {
    opacity: 1;
    visibility: visible
}

.memory:hover .memories-img .menorie-icon i {
    opacity: 1;
    visibility: visible;
    transform: scale(1)
}

.contact-form .form-wrapper {
    background: #fff;
    padding: 100px 70px 100px 70px;
    box-shadow: 0px 0px 86px 0px rgba(0, 0, 0, 0.06);
    position: relative
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .contact-form .form-wrapper {
        padding: 100px 82px 70px 82px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .contact-form .form-wrapper {
        padding: 100px 82px 70px 82px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .contact-form .form-wrapper {
        padding: 100px 82px 70px 82px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .contact-form .form-wrapper {
        padding: 100px 34px 70px 36px
    }
}

@media (max-width: 767px) {
    .contact-form .form-wrapper {
        padding: 100px 34px 110px 36px
    }
}

.contact-form .form-wrapper .shape-inner-flower .top1 {
    position: absolute;
    top: 20px;
    left: 25px
}

.contact-form .form-wrapper .shape-inner-flower .top2 {
    position: absolute;
    top: 20px;
    right: 25px
}

.contact-form .form-wrapper .shape-inner-flower .top3 {
    position: absolute;
    bottom: 20px;
    left: 25px
}

.contact-form .form-wrapper .shape-inner-flower .top4 {
    position: absolute;
    bottom: 20px;
    right: 25px
}

.contact-form .form-wrapper .shape-outer-flower .outer-top {
    position: absolute;
    top: -62px;
    left: -143px;
    z-index: -1;
    -webkit-transition: all .6s ease-out 0s;
    -moz-transition: all .6s ease-out 0s;
    -ms-transition: all .6s ease-out 0s;
    -o-transition: all .6s ease-out 0s;
    transition: all .6s ease-out 0s
}

.contact-form .form-wrapper .shape-outer-flower .outer-bottom {
    position: absolute;
    bottom: 2px;
    right: -133px;
    z-index: -1;
    -webkit-transition: all .6s ease-out 0s;
    -moz-transition: all .6s ease-out 0s;
    -ms-transition: all .6s ease-out 0s;
    -o-transition: all .6s ease-out 0s;
    transition: all .6s ease-out 0s
}

.contact-form input {
    background: none;
    height: 60px;
    width: 100%;
    padding: 10px 25px;
    padding-right: 25px;
    padding-right: 30px;
    border: 0;
    color: #a3a3a3;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid #d9d9d9
}

.contact-form textarea {
    color: #a3a3a3;
    background: none;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: capitalize;
    height: 140px;
    width: 100%;
    padding: 30px 50px;
    border: 0;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .contact-form textarea {
        padding: 30px 42px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .contact-form textarea {
        padding: 30px 42px
    }
}

@media (max-width: 767px) {
    .contact-form textarea {
        padding: 30px 42px
    }
}

.contact-form input::-moz-placeholder, .contact-form input::-moz-placeholder {
    color: #a3a3a3;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.contact-form input::-moz-placeholder {
    color: #a3a3a3;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.contact-form input:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.form-wrapper:hover .shape-outer-flower .outer-top {
    top: -70px
}

.form-wrapper:hover .shape-outer-flower .outer-bottom {
    bottom: 18px
}

.form-wrapper:hover .section-tittle.tittle-form img {
    transform: rotate(-80deg);
    position: relative;
    top: -35px;
    -webkit-transition: all .6s ease-out 0s;
    -moz-transition: all .6s ease-out 0s;
    -ms-transition: all .6s ease-out 0s;
    -o-transition: all .6s ease-out 0s;
    transition: all .6s ease-out 0s
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .submit-info {
        text-align: center
    }
}

@media (max-width: 767px) {
    .submit-info {
        text-align: center
    }
}

.footer-bottom-area .footer-border {
    border-top: 1px solid #dddddd;
    padding: 33px 0px 33px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-bottom-area .footer-border {
        padding: 0px 0px 20px
    }
}

@media (max-width: 767px) {
    .footer-bottom-area .footer-border {
        padding: 0px 0px 20px
    }
}

.footer-bottom-area .footer-copy-right p {
    font-weight: 300;
    font-size: 16px;
    line-height: 2;
    margin: 0
}

.footer-bottom-area .footer-copy-right p i {
    color: #800098
}

.footer-bottom-area .footer-copy-right p a {
    color: #7b40c0
}

.footer-bottom-area .footer-copy-right p a:hover {
    color: #800098
}

.footer-bg {
    background: #f9f7f4
}

.mb-30 {
    margin-bottom: 30px
}

.program-note {
    font-size: 1.1rem;
    color: #444;
    line-height: 1.6;
    max-width: 700px;
    margin: auto;
    padding: 10px 15px;
}

@media (max-width: 768px) {
    .program-note {
        font-size: 1rem;
    }
}

.countdown-wrapper {
    background-color: #f7f7f7;
    padding: 30px 0;
}

#countdown {
    font-size: 22px;
    font-weight: 600;
    color: #333;
}

.main-title {
    font-size: 32px;
    font-weight: 700;
    color: #333;
    margin-bottom: 15px;
}
